# Ignore all .identifier files due to file name issues on Windows
*.identifier
metaedoutput/
LRECodes.csv
*.py
archive/
automation/
*.md
ed-fi-model-6.0.code-workspace
DisabilityDescriptors Match.xlsx
.gitignore